@{
    ViewData["Title"] = "Order & Delivery";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h4>Order</h4>
    <ul>
        <li>Find books that you want to buy in the Catalog (using filters by Ganre, Title or Author's name).</li>
        <li>Remember the Article numbers of selected books.</li>
        <li>Contact with our manager by phone or email (<a asp-controller="Home" asp-action="Contact">Contacts</a>).</li>
        <li>Make an order.</li>
        <li>Pay according to received invoice.</li>
    </ul>
</div>

<div>
    <h4>Delivery</h4>
    <ul>
        <li>You can take your books directly in our store</li>
        <li>We can send you your purchase using main post services (NovaPihta, UkrPihta, Dilevery, Nicht Express).</li>
    </ul>
</div>


